# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Secret Keys & Environment
serviceAccountKey.json
*.pem

# Dependency directories
node_modules/
.pnpm-store/

# Optional npm cache directory
.npm

# Vite build output
dist/
dist-ssr/
*.local

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
